        <footer>
            <p class="footerBullets" style="margin:0px;">
                <br>
                This app was created by:<br>
                <ul class = "footerUL" style="margin-bottom: 0px;">
                    <li class="footerBullets">Dana Gingrey</li>
                    <li class="footerBullets">Kai Rangel</li>
                    <li class="footerBullets">Paige Grantz</li>
                    <li class="footerBullets">Sydney Cox</li>
                </ul>
                <br>
                <br>
            </p>
        </footer>
    </body>
</html>
