<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/dark.css">
    </head>
    <body>
        <div class = "headerButtons">
            <div>
                <a href="/home">
                    <img class = "logo" src="/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <a href="/cities">
                    <img class = "globe" src="/images/Globe.png" alt="Globe">
                </a>
            </div>
            <div>
                <a href="/profile">
                <img class = "profile" src="/images/Profile.png" alt="Profile">
                </a>
            </div>
        </div>
