DB_HOST = hostname
DB_USER = username
DB_PASSWORD = password
DB_NAME = databasename

MYSQL_DATABASE = mysqldb
MYSQL_USER = mysqluser
MYSQL_PASSWORD = mysqlpassword
MYSQL_ROOT_PASSWORD = mysqlrootpassword