<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/light.css">
    </head>
    <body>
        <div class = "headerButtons">
            <div>
                <a href="home.html">
                    <img class = "logo" src="/public/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <a href = "cities.html">
                    <img class = "globe" src="/public/images/Globe.png" alt="Globe">
                </a>
            </div>
            <div>
                <a href="profile.html">
                <img class = "profile" src="/public/images/Profile.png" alt="Profile">
                </a>
            </div>
        </div>
        <header class = "pageTitle">
            Cities
        </header>

        <div class="cityRow">
            <div class = "madridBox">
                <p class = "cityTitle">
                    Madrid
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City B
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City C
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City D
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City E
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City F
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City G
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City H
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City I
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City J
                </p>
                <a href="madridWiki.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="madridWikiQuiz.html" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>

        <footer>
            <p class="footerBullets" style="margin:0px;">
                <br>
                This app was created by:<br>
                <ul class = "footerUL" style="margin-bottom: 0px;">
                    <li class="footerBullets">Dana Gingrey</li>
                    <li class="footerBullets">Kai Rangel</li>
                    <li class="footerBullets">Paige Grantz</li>
                    <li class="footerBullets">Sydney Cox</li>
                </ul>
                <br>
                <br>
            </p>
        </footer>
    </body>
</html>