<%- include('partials/header') %>

        <header class = "pageTitle">
            Cities
        </header>

        <div class="cityRow">
            <div class = "madridBox">
                <p class = "cityTitle">
                    Madrid
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City B
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City C
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City D
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City E
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City F
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City G
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City H
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>
        <div class="cityRow">
            <div class = "cityBox">
                <p class = "cityTitle">
                    City I
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            <div class = "cityBox">
                <p class ="cityTitle">
                    City J
                </p>
                <a href="/madrid/wiki" style="text-decoration: none;">
                    <p class="cityLinks">
                        Wiki
                    </p>
                </a>
                <a href="/madrid/quiz" style="text-decoration: none;">
                    <p class="cityLinks">
                        Quiz
                    </p>
                </a>
            </div>
            
        </div>

<%- include('partials/footer') %>
