<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/dark.css">
    </head>
    <body>
        <div class = "headerButtons">
            <div>
                <a href="home.html">
                    <img class = "logo" src="/public/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <a href = "cities.html">
                    <img class = "globe" src="/public/images/Globe.png" alt="Globe">
                </a>
            </div>
            <div>
                <a href="profile.html">
                <img class = "profile" src="/public/images/Profile.png" alt="Profile">
                </a>
            </div>
        </div>
        <header class = "pageTitle">
            Mapamente
        </header>
        <p>
            Welcome to Mapamente, a website where you can learn all about
            Spanish-speaking cities around the world! Then, you can test
            yourself with built-in quizzes and compare your stats to others.
            <br> <br>
        </p>
        <p style = "text-align: center;">
            Create an account to track your stats:
        </p>
        <a class = "signUpButton" href="profile.html">
            <button>
                Sign Up
            </button>
        </a>
        <p style = "text-align: center;">
            or, browse as a guest anonymously:
        </p>
        <a class = "globeContainer" href="cities.html">
            <img class = "homeGlobe" src="/public/images/Globe.png" alt="Globe">
        </a>
        <footer>
            <p class="footerBullets" style="margin:0px;">
                <br>
                This app was created by:<br>
                <ul class = "footerUL" style="margin-bottom: 0px;">
                    <li class="footerBullets">Dana Gingrey</li>
                    <li class="footerBullets">Kai Rangel</li>
                    <li class="footerBullets">Paige Grantz</li>
                    <li class="footerBullets">Sydney Cox</li>
                </ul>
                <br>
                <br>
            </p>
        </footer>
    </body>
</html>