<%- include('partials/header') %>

        <header class = "pageTitle">
            Madrid Quiz
        </header>
        <div style="display:flex; justify-content: center;">
            <div class="questionBox">
                <p class="question">
                    1.  What was Madrid originally named?
                </p>
                <ul class="answerChoices">
                    <li class="answer">Madrid</li>
                    <li class="answer">Mayrit</li>
                    <li class="answer">Manzanares</li>
                    <li class="answer">Madroño</li>
                </ul>
            </div>
        </div>
        <div style="display:flex; justify-content: center;">
            <div class="questionBox">
                <p class="question">
                    2.  What is Madrid the capital of?
                </p>
                <ul class="answerChoices">
                    <li class="answer">Spain</li>
                    <li class="answer">Europe</li>
                    <li class="answer">UK</li>
                    <li class="answer">Germany</li>
                </ul>
            </div>
        </div>
        <div style="display:flex; justify-content: center;">
            <div class="questionBox">
                <p class="question">
                    3.  Question Three?
                </p>
                <ul class="answerChoices">
                    <li class="answer">No</li>
                    <li class="answer">Yes</li>
                    <li class="answer">No</li>
                    <li class="answer">No</li>
                </ul>
            </div>
        </div>
        <a class = "button" href="/madrid/wiki" style="margin: 20px; margin-bottom: 20px;">
            <button class ="quizButton">
                Submit
            </button>
        </a>

<%- include('partials/footer') %>
