<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/light.css">
    </head>
    <body>
        <div class = "headerButtons">
            <div>
                <a href="home.html">
                    <img class = "logo" src="/public/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <a href = "cities.html">
                    <img class = "globe" src="/public/images/Globe.png" alt="Globe">
                </a>
            </div>
            <div>
                <a href="profile.html">
                <img class = "profile" src="/public/images/Profile.png" alt="Profile">
                </a>
            </div>
        </div>
        <header class = "pageTitle">
            Madrid Quiz
        </header>
        <footer>
            <p class="footerBullets" style="margin:0px;">
                <br>
                This app was created by:<br>
                <ul class = "footerUL" style="margin-bottom: 0px;">
                    <li class="footerBullets">Dana Gingrey</li>
                    <li class="footerBullets">Kai Rangel</li>
                    <li class="footerBullets">Paige Grantz</li>
                    <li class="footerBullets">Sydney Cox</li>
                </ul>
                <br>
                <br>
            </p>
        </footer>
    </body>
</html>