<%- include('partials/header') %>
        <header class = "cityTitles">
            Madrid
        </header>
        <p class="wikiHeader">
            History
        </p>
        <p  class="wikiText">
            Madrid was founded in the late 19th century.
            It was originally named Mayrit as an Islamic
            fortress on the Manzanares River.<br>
        </p>
        <p  class="wikiHeader">
            Current Facts
        </p>
        <p  class="wikiText">
            Madrid is the capital of Spain and the largest
            city in Spain. The official symbol is “The Bear
            and the Strawberry Tree” (El Oso y El Madroño).
            <br><br>
        </p>
        <p style="text-align: center;">
            Ready to take the Quiz?
        </p>
        <a class = "button" href="/madrid/quiz">
            <button class ="quizButton">
                Take Quiz >
            </button>
        </a>
<%- include('partials/footer') %>
