<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/light.css">
    </head>
    <body>
        <div class = "headerButtons">
            <div>
                <a href="home.html">
                    <img class = "logo" src="/public/images/Logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <a href = "cities.html">
                    <img class = "globe" src="/public/images/Globe.png" alt="Globe">
                </a>
            </div>
            <div>
                <a href="profile.html">
                <img class = "profile" src="/public/images/Profile.png" alt="Profile">
                </a>
            </div>
        </div>
        <header class = "pageTitle">
            Your Profile
        </header>
    </body>
</html>