<%- include('partials/header') %>
  <h1>Testing</h1>
  <form action="/login" method="POST">
  <input type="info" name="info" placeholder="info">
  <button type="submit">Submit</button>
  </form>
<%- include('partials/footer') %>
