:root{
  --dark-text: rgb(58, 44, 3);
  --light-text: bisque;
  --background-color: bisque;
  --gradient-color:rgba(121, 103, 74, 0.7);
  --tile-color:wheat;
  --button-color:rgb(119, 93, 55);
  --question-box-color:rgb(179, 153, 116);
  --footer-color:rgb(121, 103, 74);
}

@media (prefers-color-scheme: dark) {
:root{
  --dark-text: rgb(218, 223, 228);
  --light-text: rgb(218, 223, 228);
  --background-color:rgb(85, 102, 124);
  --gradient-color:rgba(10, 10, 20, 0.7);
  --tile-color:rgb(73, 81, 90);
  --button-color:rgb(83, 91, 100);
  --question-box-color:rgb(73, 81, 90);
  --footer-color:rgb(83, 91, 100);
}
}

* {
  color: var(--dark-text);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: var(--background-color);
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 18px;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, var(--gradient-color), rgba(0, 0, 0, 0));
  padding: 10px;
}

.globe {
  width: 5vw;
  height: auto;
}

.homeGlobe {
  width: 10vw;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.globeContainer {
  display: flex;
  justify-content: center;
}

.profile {
  width: 5vw;
  height: auto;
}

.logo {
  width: 5vw;
  height: auto;
  justify-content: left;
}

.pageTitle {
  font-size: 5vh;
  text-align: center;
}

.cityTitles {
  font-size: 5vh;
  text-align: center;
  background-image: radial-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url(../images/Madrid.jpg);
  background-size: cover;
  color: var(--light-text);
  padding: 10px;
}

.signUpButton {
  background-color: var(--button-color);
  padding: 6px 16px;
  color: var(--light-text);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

.quizButton {
  background-color: var(--button-color);
  width: 130px;
  height: 40px;
  color: var(--light-text);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.cityRow {
  display: flex;
  gap: 20px;
}

.cityBox {
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  background-color: var(--button-color);
}

.madridBox {
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/Madrid.jpg);
}

.cityTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--light-text);
}

.cityLinks {
  margin-left: 10px;
  color: var(--light-text);
}

.wikiText {
  margin: 0px;
  margin-left: 10px;
}

.wikiHeader {
  margin-left: 20px;
  text-decoration: underline;
}

.questionBox{
  display:flex;
  display:inline-block;
  justify-content: center;
  border:black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  width:400px;
  height:175px;
  background-color: var(--question-box-color);
}

.question{
  color:var(--dark-text);
  text-align: center;
  
}

.answerChoices {
  text-align: left;
  display: inline-block;
  text-align: left;
  list-style-type:circle;
}

.answer{
  color: var(--dark-text);
  font-size: 18px;
}

footer {
  background: var(--footer-color);
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: -20px;
}

.footerUL {
  display: inline-block;
  text-align: left;
  list-style-type: circle;
}

.footerBullets {
  color: var(--light-text);
  font-size: 14px;
}