:root { /* Variables that control colors for light mode: */
  --dark-text: rgb(58, 44, 3);
  --light-text: bisque;
  --background-color: bisque;
  --gradient-color: rgba(121, 103, 74, 0.7);
  --tile-color: wheat;
  --button-color: rgb(119, 93, 55);
  --question-box-color: rgb(179, 153, 116);
  --answer-hover-color: rgb(159,133,96);
  --shadow-color: rgba(0,0,0,0);
  --footer-color: rgb(121, 103, 74);
  /*Possibly change these?*/
  --timer-safe: #1D9E75;
  --timer-worry: #EF9F27;
  --timer-urgent: #E24B4A;
}
/* Automatically uses dark variables if system settings are on dark mode: */
@media (prefers-color-scheme: dark) { 
  :root { /* Variables that control colors for dark mode: */
    --dark-text: rgb(218, 223, 228);
    --light-text: rgb(218, 223, 228);
    --background-color: rgb(85, 102, 124);
    --gradient-color: rgba(10, 10, 20, 0.7);
    --tile-color: rgb(73, 81, 90);
    --button-color: rgb(83, 91, 100);
    --question-box-color: rgb(73, 81, 90);
    --answer-hover-color: rgb(103, 111, 120);
    --shadow-color: rgba(0,0,0,0.5);
    --footer-color: rgb(83, 91, 100);
    /*Possibly change these?*/
    --timer-safe: #1D9E75;
    --timer-worry: #EF9F27;
    --timer-urgent: #E24B4A;
  }
}

/* Sets general text color and font */
* {
  color: var(--dark-text);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets general traits in the html body */
body {
  background-color: var(--background-color);
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Sets general font size for paragraph text */
p {
  font-size: 18px;
}

/* This is just a tag for divs to center items that themselves cannot be centered */
.center{
  display: flex;
  justify-content: center;
}

/* This is for most page titles except in city wikis */
.pageTitle {
  font-size: 5vh;
  text-align: center;
}

/* This is used in login.ejs, signup.ejs, profile.ejs, quizTemplate.ejs, and home.ejs */
.fancyButton {
  background-color: var(--button-color);
  padding: 6px 16px;
  color: var(--light-text);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

/* This is used to default all buttons */
.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* These are used in header.ejs: */
.headerButtons {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, var(--gradient-color), rgba(0, 0, 0, 0));
  padding: 10px;
}

.globe {
  width: 5vw;
  height: auto;
}

.profile {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  width: 5vw;
  height: auto;
  justify-content: left;
}
/* ---------------------------- */

/* These are for home.ejs: */
.homeGlobe {
  width: 10vw;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.globeContainer {
  display: flex;
  justify-content: center;
}
/*------------------------------*/

/* These are for wikiTemplate.ejs: */
.cityTitles {
  font-size: 5vh;
  text-align: center;
  background-size: cover;
  color: var(--light-text);
  padding: 10px;
}

.quizButton {
  background-color: var(--button-color);
  width: 130px;
  height: 40px;
  color: var(--light-text);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

.wikiText {
  margin: 0px;
  margin-left: 10px;
}

.wikiHeader {
  margin-left: 20px;
  text-decoration: underline;
}
/*--------------------------------*/

/*For login and signup pages:*/
.formBox{
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  background-color: var(--button-color);
  justify-content: center;
}

.form{
  margin:20px;
  padding:10px;
  line-height: 1.8;
}

.formInput{
  color: black;
}

input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
  }
/*---------------------------*/

/* These are used in cities.ejs */
.cityRow {
  display: flex;
  gap: 20px;
  margin:20px;
  margin-bottom: 10px;
}

.cityBox {
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  background-color: var(--button-color);
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}

.cityTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--light-text);
}

.cityBoxButtons {
 display:inline-block;
 border:black;
 border-style: solid;
 border-width:2px;
 border-radius: 10px;
 padding-top:5px;
 padding-bottom:5px;
 padding-left:20px;
 padding-right:20px;
 background-color: var(--button-color);
 transition: box-shadow 0.3s ease;
}

.cityBoxButtons:hover {
box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.8);
}
/*----------------------------*/

/* For profile.ejs page: */
.profilePicture { 
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  object-fit: cover;
}

.statsTable{
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: var(--dark-text);
  padding:5x;
  margin: 20px;
  width: 800px;
}

th, td {
  border: 1px solid black;
  padding:5x;
  background-color: var(--question-box-color);
}
/*-----------------------*/

/* For quizTemplate.ejs page: */
.questionsBox{
  display: flex;
  justify-content: center;
}

.quizLabel{
  display:flex;
  align-items: center;
  gap:12px;
  padding: 12px 14px;
  border: 0.5px solid black;
  border-radius:8px;
  cursor: pointer;
  transition: background 0.15s;
  background-color: var(--background-color);
}

label.selected {
  background: var(--answer-hover-color); 
}

label:hover {
  background: var(--answer-hover-color);
}

.question{
  width:30vw;
  border-color:var(--dark-text);
  border-width: 2px;
  border-radius: 10px;
}

.questionTitle{
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 5px var(--shadow-color);
}

/* Still in quizTemplate.ejs, these are for the timer:*/
.timer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--button-color); /* or whatever your quiz bg is */
  padding: 12px 20px;
  z-index: 999;
  box-sizing: border-box;
}

.timer-track {
  background: rgba(255,255,255,0.2);
  border-radius: 99px;
  height: 14px;
  overflow: hidden;
}

#timer-bar {
  height: 100%;
  border-radius: 99px;
  transition: width 0.2s linear, background 0.4s ease;
}
/*--------------------------*/

/* Below are for footer.ejs:*/
footer {
  background: var(--footer-color);
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: -20px;
}

.footerUL {
  display: inline-block;
  text-align: left;
  list-style-type: circle;
  font-size: 14px;
}

.footerBullets {
  color: var(--light-text);
  font-size: 14px;
}
/*--------------------------*/

/* These are residual from prototypes, no longer used: */
.madridBox {
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/Madrid.jpg);
}

.questionBox {
  display: flex;
  display: inline-block;
  justify-content: center;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  width: 400px;
  height: 175px;
  background-color: var(--question-box-color);
}

.answerChoices {
  text-align: left;
  display: inline-block;
  text-align: left;
  list-style-type: circle;
}

.answer {
  color: var(--dark-text);
  font-size: 18px;
}
/*----------------------------------*/